<%- include ("../_partial/_header") %>
 
    <h1>Home Page</h1>

    <form action="/logout" method="post">
        <button type="submit">Log Out</button>
    </form>

<%- include ("../_partial/_footer") %>